
body{
  background-color: rgb(119, 156, 144);
}
.title1 {

  text-align: center;
}

.btttt{

  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
